:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Segoe UI", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #495057;
}
.app {
  display: grid;
  grid-template-columns: 34rem 44rem;
  column-gap: 4rem;
  align-items: start;
  min-height: 66vh;
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.sidebar li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;
  padding: 1.2rem;
  border-radius: 7px;
}
.sidebar li img {
  border-radius: 50%;
  width: 100%;
  grid-row: span 2;
}
.sidebar li h3 {
  grid-column: 2;
  grid-row: 1;
}
.sidebar li p {
  grid-row: 2;
  grid-column: 2;
}
.sidebar li .button {
  grid-row: span 2;
  grid-column: 3;
}
.button {
  background-color: var(--color-medium);
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--color-dark);
}
.green {
  color: #66a80f;
}
.red {
  color: #e03131;
}
.sidebar > .button {
  float: right;
  margin-right: 1.2rem;
}
form {
  display: grid;
  font-size: 1.2rem;
  gap: 1.2rem;
  align-items: center;
  background: var(--color-lightest);
  border-radius: 7px;
}
.form-add-friend {
  grid-template-columns: 1fr 1.5fr;
  padding: 1.6rem;
  padding-top: 2rem;
  margin-bottom: 1.6rem;
}
label {
  font-weight: 500;
}
label::first-letter {
  display: inline-block;
  margin-right: 4px;
  font-size: 1.8rem;
}
form .button {
  margin-top: 0.6rem;
  grid-column: 2;
}
input,
select {
  border-radius: 4px;
  border: 1px solid var(--color-light);
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.7rem;
}
input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}
.form-split-bill {
  grid-template-columns: 1fr 12rem;
  padding: 3.2rem 4rem;
}
form h2 {
  grid-column: 1/-1;
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}
.selected,
.sidebar li:hover {
  background-color: var(--color-lightest);
}
